marquee{
    background-color: #ed484c;
    padding: 5px 0px;
    color:white;
  font-weight: 5em;
  font-family: 'Righteous', cursive;
 
 }
 body{
     margin: 0%;

 }
mark{
    mark{
        background-color: yellow;
    }
    img{
        display: flex;
        padding: 0px;
        height: 4em;
    width: 9em;
}

        

    }


 
      








  